.main-bar{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content-container{
  display: flex;
  flex: 1;
  background-color: gray;
}

.side-bar {
  display: flex;
  width: 13%;
  div{
    width: 100%;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
}

.top-bar{

}

.main-card{
  margin: 6px 6px 6px 6px;
  background-color: white;
  height: 100%;
}

.main-card-content{
  margin: 10px 10px 10px 10px;
  height: 100%;
}